<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <body class="bg-gray-600">
   <nav class="bg-gray-800">
    <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
  <header class="flex items-start space-x-2">
    <h2 class="text-lg leading-6 font-medium text-black">Projects</h2>
<button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
    <a href="index">home</a>
      </button>
      <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
      <a>history
      </a>
      </button>
      <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
      <a>about</a>
      </button>
  </header>
  </nav>
</head>
<body id="fondo">
    <h1 id="title">El jugador </h1>
    <p id="text">Leonardo Montoya era un habitante de la vereda, muy jugador que se jugaba hasta la ropa. 
        Un día venía casi desnudo, pasando por el sector donde actualmente se ubica el puente, en ese lugar 
        había un árbol grande y un morro que le llamaban la vuelta. Cuando pasaba por ahí delante de él se cruzó 
        un perro pequeño y él se agarró a  madrearlo, entonces el perro empezó a crecer conforme él lo madreaba y 
        golpeaba, hasta que se volvió muy grande, le mostro los colmillos echo candela por la boca. El hombre se 
        asustó y salió corriendo hasta su casa que estaba cerca y cuando abrió la puerta el perro le aruño la espalda. 
        Las hermanas salieron y prendieron velones y empezaron a rezar. La casa se impregnó de un olor horrible a azufre. 
        El perro insistía en tratar de entrar, pero fueron tantos los rezos de las mujeres que la situación se calmó.
        Cuentan que en ese lugar hubo una virgen por mucho tiempo y el hombre al pasar por ahí se ponía tan nervioso que se 
        orinaba del susto. Tiempo después la virgen fue movida.
        </p>
</body>
</html>