<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Projects</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
    </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">El fantasma del rio  </h1>
    <p id="text">Un chico cuenta que un día mientras subía del sector del río por la noche; ya que se había varado la moto en la que iban él y su amigo, llevaban un rato 
        de caminar cuando al fondo ven una mujer con vestido Blanco, lo cual se les hizo extraño; 
        ¿Por qué una mujer estaría a esas horas de la noche por ahí? hasta que el amigo del chico le dio un escalofrío
         y dijo que esperaran un momento. El chico se burlaba de su amigo por gallina; entonces se hacen a un lado y se 
         ocultan. El chico se asoma para ver, pero no ve a nadie. Siguen caminando, hasta que el amigo le dice que corra y 
         el chico pregunta ¿por qué?, él, le responde que la mujer estaba al otro lado del río. El chico mira y aterrado nota 
         que si estaba al otro lado del río; entonces ambos chicos salen corriendo hasta que llegan al pueblo y entran a una 
         tienda. Un señor les pregunto qué les había pasado, al verlos asustados y agitados. Ellos le contaron lo que ocurrido
          y el señor les dijo que esa mujer se suele ver, debido a que hace tiempo unos hombres la violaron, para después 
          asesinarla y tirar sus restos al rio, desde entonces su espíritu se suele avistar por esa zona.</p>
</body>
</html>