<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Projects</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
    </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">La guaca de “cajita”</h1>
    <p id="text">Se comentaba en la vereda que por el camino que conduce a El Guineo, 
        a la altura del sector de La Popa, asustaban. Algunas personas decían que al pasar 
        por aquel sitio se oían ruidos extraños, se sentían presencias incómodas y una cierta 
        intranquilidad  que flotaba en el aire obligaba a acelerar el paso y mirar furtivamente 
        un lugar específico al lado derecho de la carretera.  
        Los comentarios acerca de aquel espanto volaron de boca en boca hasta que algún día llegaron
         a oídos de un guaquero, aquella persona que se dedica a cazar enterramientos indígenas en 
         busca de metales preciosos, quien de inmediato reconoció los primeros síntomas de una guaca.
        Don Ernesto, como se dio conocer el guaquero, se contactó con Carlos Emilio Ossa Tamayo, más 
        conocido como cajita, el dueño de la finca donde se decía que se ubicaba el tesoro. Después 
        de inspeccionar el punto que la gente señalaba con temor, el guaquero antioqueño le dijo a 
        Don Carlos que según su experiencia allí  se hallaba una guaca y que, si era de su interés, 
        podían hacerse socios para emprender su desenterramiento. Don Carlos, obnubilado por las promesas 
        oro del guaquero, convino con este proporcionarle habitación, comida y herramientas mientras se 
        llevaban a cabo la labores guaqueo.
        Con un acuerdo en firme, empezaron las labores de extracción. Pasaban los días, las semanas 
        y los meses removiendo la tierra y no se atisbaba la bendita guaca. Los hijos de don Carlos, 
        un poco menos ingenuos, le decían a su padre: “papá, esa guaca lo va arruinar, mire cuánto 
        tiempo lleva ese señor acá comiendo y durmiendo a sus anchas y nada de guaca por ningún lado”. 
        Don Carlos, inquebrantable en su proyecto, hizo oídos sordos a las advertencias de sus hijos, 
        emberracándolos mucho más cuando le sirvió de fiador al guaquero para la compra de un televisor 
        para su entretenimiento.
        Pero la espera dio sus frutos. Se empezaron a extraer algunos restos humanos, vasijas y pequeñas 
        piezas de lo que parecía ser oro. Quienes no habían creído en la visión de don Carlos debieron guardar 
        silencio mientras observaban los objetos que extraían  del enorme hueco de más de cuatro metros de hondo 
        y diez de ancho que habían hecho los topos del guaquero. Sin embargo, antes de repartir el botín don Carlos 
        que era necesario comprobar la autenticidad de los objetos, las piedras y los metales encontrados, por lo que
         debían llevarlos a Medellín para su examen.
        El hombre armo su viaje a Medellín junto con los utensilios y demás objetos encontrados. Preocupado don Carlos
         por la parte que le correspondía en esta empresa fue hasta la capital Antioqueña en varias ocasiones, pero 
         allí le decían que las piezas estaban todavía en examen.
        Al final de dijeron que el gobierno se las había llevado por ser parte del patrimonio arqueológico de la 
        nación, de modo que don Carlos dejó de insistir, resignándose a quedar no más que con la fantástica historia 
        de la guaca de su finca, con un hueco que hacía creer que había caído un meteorito en la cuchilla del salado
         y con la deuda del televisor que el guaquero nunca pagó y que le cobraron a él por ser su fiador.
                        
                        Tomado del libro Al filo de la montaña:
                        Historia de la Cuchilla del Salado
                        Jhonathan Orozco Tamayo
                        Pag: 29,30,31
        </p>
</body>
</html>