<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Projects</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
    </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">Orlando guacas </h1>
    <p id="text">Cuenta una familia campesina que vivió en una finca por la cuchilla del salado que un jornalero, 
        recolector de café, llamado Orlando guacas, por su obsesión en encontrar una guaca. Pedía permiso al dueño 
        de la finca donde trabajaba como recolector de café para realizar excavaciones, en busca de su anhelado tesoro; 
        el dueño de la finca le respondía que no había problema siempre y cuando tapara cada hueco que hacía. 
        Un día tumbaron una casa vieja de la finca y de inmediato comenzó su búsqueda en este lugar. Los huecos que hacia 
        eran tan grandes que parecían cráteres; y así paso muchos años de su vida; exponiéndose además a las burlas de los
         demás trabajadores, y ganándose su apodo. Él decía que un día los iba a dejar callados, cuando encontrara el gran 
         tesoro. Eso nunca sucedió lo máximo que llegó a encontrar fueron pedazos de ollas de barro. La explicación parece 
         ser muy clara y además está documentada. En esta zona habitaron tribus como los Carrapas y Quimbaya de los que se 
         dice eran indios pobres.
        Años más tarde este hombre falleció en una pelea en otra finca sin poder cumplir su sueño, de encontrar una guaca.
        Se cree que muchos han intentado este tipo de actividad en la zona por lo que fue poblada por indios pero también se 
        dice que los resultados han sido los mismos.
        </p>
</body>
</html>