<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Projects</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
    </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">Padre Elías López Ospina </h1>
    <p id="text">En padre Gregorio Nacianceno permaneció en la vereda hasta 1958 cuando fue 
        enviado a la parroquia de Arboleda siendo reemplazado por el Pbro. Elías López Ospina, 
        quien, a su vez, atendía ésta población desde 195393.
        Este querido curita destacó por su habilidad de comerciante y logró hacerse para la parroquia 
        varios terrenos en la comunidad, como una enramada parroquial, donde se hacían actividades 
        para recaudar dinero y que actualmente es la casa de Carlos Ossa.
        Este fue el curita que intentó infructuosamente cambiarle el nombre a la vereda por el padre 
        tenía una relación sentimental con una de sus feligreses. Cuando llegó el cuento a oídos del 
        padre Elías, enfurecido, desde su atrio lanzó una maldición contra aquella familia. Unos días 
        después la casa donde vivían se incendió. Llamaron a los bomberos pero el primer carro no pudo 
        llegar, pues se varó en el camino. El segundo carro llegó y no funcionó, no pudo echar una gota 
        de agua. Entonces la casa, casi toda, se consumió. Lo raro fue que las casa de los lados, que también 
        eran de bahareque, quedaron intactas. Eso fue lo que la gente llamó La Maldición del Padre Elís. 
        </p>
</body>
</html>