<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Relatos de vereda</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">Terror en jueves santo </h1>
    <p id="text">Se cuenta que hace tiempo en la cuchilla del salado, durante un jueves santo en una tienda perteneciente a 
        Antonio Gallego, se encontraban jugando dominó unas personas; situación que no era bien vista en una vereda
         de gente católica y muy rezandera en épocas de semana santa. De repente escucharon unos ruidos extraños y se 
         asomaron por la rendija de las ventanas. Fue entonces cuando vieron a un perro gigante como un toro echando 
         chispas, con cadenas grandes y pesadas, arrastrando a otros perros más pequeños con cadenas, rastrillando la 
         carretera, fue tal el susto que los hombres se quedaron encerrados en la tienda hasta el día siguiente. Cuando 
         amaneció, salieron a la calle y encontraron que estaba rasguñada y quemada.</p>
</body>
</html>
