<!DOCTYPE html>
<html lang="es">
<head>
    <title>Historias</title>
    <link rel="stylesheet" href="style.css">
        <title>Historias</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
      <body class="bg-gray-600">
       <nav class="bg-gray-800">
        <section class="px-4 sm:px-6 lg:px-4 xl:px-6 pt-4 pb-4 sm:pb-6 lg:pb-4 xl:pb-6 space-y-4">
      <header class="flex items-start space-x-2">
        <h2 class="text-lg leading-6 font-medium text-black">Relatos de vereda</h2>
    <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
        <a href="index">home</a>
    </button>
          <button class="py-2 px-4 bg-red-900 text-black font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>history
          </a>
          </button>
          <button class="py-2 px-4 bg-red-900 text-balck font-semibold rounded-lg shadow-md hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75">
          <a>about</a>
          </button>
      </header>
      </nav>
    </head>
<body id="fondo">
    <h1 id="title">La volqueta fantasma </h1>
    <p id="text">Tiempo atrás, cuando la Cuchilla del Salado todavía no estaba pavimentada, se 
        contaba que en las noches se escuchaba un carro viejo, bajando a gran velocidad por la cuchilla, 
        hasta llegar al sitio donde actualmente se ubica la tienda de Gabriela. Al llegar allí se desbarataba
         por completo, y no se sentía subir. Sin embargo solo se escuchaba, pues la luz de vela no era suficiente 
         para apreciarlo, al final nunca se supo que era lo que pasaba.</p>
</body>
</html>
